@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container, .presentation, .projects, .about, .contact {
  margin: 0 1.5em;
}

header {
  text-align: center;
  padding: 2em 1.5em 0;
}

hr {
  border-radius: 2px;
  border: 1px solid #F8F8F8;
  margin: 0;
  background-color: #F8F8F8;
}

#line2 {
  margin-top: 6.4666666667em;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.8125em;
  text-transform: uppercase;
  margin-top: 0.4444444444em;
}

a.menu__link.menu__link--active {
  color: #F5CA41;
}

.top__menu {
  margin: 3em 0;
  font-size: 1.125em;
}

.nb {
  background-color: #202020;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  margin: 1em 0;
}

.menu .menu__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #F8F8F8;
  padding: 10px 10px;
  position: relative;
  font-size: 14px;
}

.menu__link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgba(245, 202, 65, 0.8);
  height: 1px;
}

.menu__link:hover:after {
  width: 100%;
}

.menu__link,
.menu__link:after,
.menu__link:before {
  transition: all 0.5s;
}

.menu__link--current {
  color: rgba(245, 202, 65, 0.8);
}

@media screen and (min-width: 800px) {
  .container, .presentation, .projects, .about, .contact {
    margin: 0 5em;
  }

  header {
    padding: 4em 5em 0;
    text-align: center;
  }

  header h1 {
    font-size: 5em;
  }

  .top__menu {
    margin: 3em 0;
    font-size: 1em;
  }

  #line2 {
    margin-top: 3.55em;
  }

  .nb {
    background-color: #202020;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 1.3em 0;
  }

  .menu .menu__link {
    font-size: 16px;
    margin: 0 15px;
  }
}
@media screen and (min-width: 1280px) {
  hr {
    border-radius: 2px;
    border: 1px solid #F8F8F8;
    margin: 0;
    background-color: #F8F8F8;
  }

  #line2 {
    margin-top: 4.4em;
  }

  .nb {
    background-color: #202020;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 1.7em 0;
  }

  .container, .presentation, .projects, .about, .contact {
    margin: 0 8em;
  }

  header {
    padding: 5.5em 8em 0;
    text-align: center;
  }

  header h1 {
    font-family: "Playfair Display", serif;
    font-size: 6.875em;
    text-transform: uppercase;
    margin-top: 0.1818181818em;
  }

  .top__menu {
    margin: 3em 0;
    font-size: 1.125em;
  }

  .menu .menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #F8F8F8;
    margin: 0 25px;
    font-size: 16px;
  }
}
.container img {
  width: 100%;
  height: auto;
  margin-right: 1.5625em;
}

.last-project h2 {
  margin-top: 1.25em;
  font-size: 1em;
  font-family: "Playfair Display", serif;
}

.last-project__def {
  font-size: 0.875em;
  line-height: 1.6428571429em;
  margin: 1.25em 0 4.2857142857em;
}

.presentation {
  text-align: center;
  border: solid #F8F8F8 1px;
  padding: 1.875em 1.875em 3.125em;
  margin-top: 4.0625em;
}

.presentation p {
  padding-bottom: 3.5714285714em;
  font-size: 0.875em;
  line-height: 1.6428571429em;
}

a.button {
  padding: 1.5714285714em 3.5714285714em;
  border: solid #F5CA41 1px;
  color: #f8f8f8;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: 700;
  position: relative;
}

.presentation .button {
  margin-bottom: 3.125em;
}

.button span {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: #F5CA41;
  transition: height 0.5s ease-in-out;
}

.button:hover {
  color: #1C1C1C;
  transition: 0.1s;
  transition-delay: 0.05s;
}

.button:hover span, .button:focus span {
  height: 100%;
}

.project__content {
  font-family: "Playfair Display", serif;
  z-index: 90;
  position: relative;
  margin-bottom: -2.5em;
  padding: 0 1em;
}

.project__number {
  font-size: 8.75em;
  color: rgba(245, 202, 65, 0.8);
  text-align: right;
  padding-right: 0.1428571429em;
}

.project__title {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}

.project__info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2em;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f8f8f8;
  font-family: "Playfair Display", serif;
}

.project__date {
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

.project__fig {
  position: relative;
  height: 20em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project__link {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.project__img {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

div.project__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 1.5625em;
}

.project {
  flex: 1;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container img {
    width: 60%;
    height: auto;
    margin-right: 1.5625em;
  }

  .last-project h2 {
    font-size: 1.25em;
    font-family: "Playfair Display", serif;
  }

  .last-project__def {
    font-size: 1em;
    margin: 2.5em 0 3.75em;
  }

  .presentation {
    padding-top: 3.125em;
    padding-bottom: 4.5em;
    margin-top: 4.125em;
  }

  .presentation p {
    padding-bottom: 2.7777777778em;
    font-size: 1.125em;
  }

  a.button {
    padding: 1.2222222222em 3.9444444444em;
    border: solid #F5CA41 1px;
    color: #f8f8f8;
    text-decoration: none;
    font-size: 1.125em;
    font-weight: 700;
    position: relative;
  }

  .presentation .button {
    margin-bottom: 3.125em;
  }

  .project__content {
    font-family: "Playfair Display", serif;
    z-index: 90;
    position: relative;
    margin-bottom: -2.5em;
    padding: 0 1em;
  }

  .project__number {
    font-size: 11.25em;
    color: rgba(245, 202, 65, 0.8);
    text-align: right;
    padding-right: 0.1111111111em;
  }

  .project__title {
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
  }

  .project__info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2em;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f8f8f8;
    font-family: "Playfair Display", serif;
  }

  .project__date {
    font-family: "Lato", sans-serif;
    font-size: 1em;
  }

  .project__fig {
    height: 40em;
  }

  .project__img {
    height: 110%;
    width: auto;
  }

  .project__link {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  div.project__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1.5625em;
  }

  .project {
    flex: 1;
    position: relative;
  }

  .project:nth-child(even) {
    margin-top: 10em;
  }
}
@media screen and (min-width: 1920px) {
  body {
    padding-left: calc((100vw - 1920px) / 2);
    padding-right: calc((100vw - 1920px) / 2);
  }
}
footer {
  text-align: center;
  margin: 2em 1.5em;
}

.end__menu hr {
  margin-bottom: 1.875em;
}

.end__menu {
  display: flex;
  flex-direction: column;
}

.instagram-logo {
  background-image: url("http://natacha-belboom.be/wp-content/themes/portfolio/public/img/instagram.png");
  background-repeat: no-repeat;
}

.dribbble-logo {
  background-image: url("http://natacha-belboom.be/wp-content/themes/portfolio/public/img/dribbble.png");
  background-repeat: no-repeat;
}

.social_media {
  margin-bottom: 1.25em;
}

.menu__link__end {
  width: 35px;
  height: 35px;
  background-size: 100% auto;
  display: inline-block;
  text-indent: -9999px;
  border-radius: 100px;
}

.navigation_link .menu__link {
  font-size: 0.8125em;
}

.line-end {
  margin-top: 2em;
}

@media screen and (min-width: 800px) {
  footer {
    text-align: center;
    margin: 4em 5em;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    text-align: center;
    margin: 3em 8em;
  }

  .end__menu hr {
    margin-bottom: 3em;
  }

  .end__menu {
    display: flex;
    flex-direction: column;
  }

  .social_media {
    margin-bottom: 1.875em;
  }

  .menu__link__end {
    width: 50px;
    height: 50px;
    background-size: 100% auto;
    display: inline-block;
    text-indent: -9999px;
    border-radius: 100px;
  }

  .navigation_link .menu__link {
    font-size: 1em;
  }
}
.description__text {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.25em 0 3.75em;
}

.description__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__container img {
  width: 100%;
  height: auto;
}

.creation {
  text-align: center;
}

.creation__title {
  font-family: "Playfair Display", serif;
  font-size: 1.875em;
  font-weight: bold;
  margin: 4em 0 2em;
}

@media screen and (min-width: 800px) {
  .description__text {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1.1em 0 3em;
  }

  .description__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .description__container img {
    width: 55%;
    height: auto;
    margin-right: 1.5625em;
  }

  .creation {
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .description__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .description__text {
    font-size: 1.125em;
    line-height: 1.3em;
    margin: 0 0 3em;
  }
}
p.contact__me {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #F5CA41;
  font-weight: 300;
  margin-bottom: 2.7em;
  text-align: center;
}

.contact_field {
  border-bottom: 2px solid #F5CA41;
  background-color: #1a1a1a;
  padding: 1em;
}

.contact_field:not(:last-of-type) {
  margin-bottom: 2em;
}

form input, form textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: none;
}

form label {
  font-size: 1em;
  color: #f8f8f8;
  font-family: "Playfair Display", serif;
}

form input {
  padding: 1em;
  color: #f8f8f8;
  background-color: transparent;
  margin-top: 0.5em;
}

form textarea {
  background-color: transparent;
  padding: 1em;
  color: #f8f8f8;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 9.375em;
  min-height: 6.25em;
  max-height: 18.75em;
  margin-top: 0.5em;
}

form input::-moz-placeholder, form textarea::-moz-placeholder {
  color: #6E6E6E;
  font-size: 0.8em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  color: #6E6E6E;
  font-size: 0.8em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

form input::placeholder, form textarea::placeholder {
  color: #6E6E6E;
  font-size: 0.8em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

form .button {
  position: relative;
  padding: 1.375em 0;
  width: 100%;
  margin-top: 1.875em;
  background-color: transparent;
  border: 2px solid #F5CA41;
  color: #f8f8f8;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

.info__project, .preview__next {
  margin: 3em 2em 0;
}

.big-img {
  width: 100%;
}

.big-img__container {
  border: 1px solid #f8f8f8;
  padding: 20px 30px;
}

.project__design {
  margin: 0 2.5em;
}

.project__infos {
  text-align: center;
  margin: 3.3333333333em 0;
  font-size: 1em;
}

.project__description {
  font-size: 0.875em;
  line-height: 1.3em;
  margin-bottom: 5em;
}

.img-slider {
  background-color: #f8f8f8;
  padding: 5em 2em;
  margin-bottom: 3em;
}

.img-slider img {
  width: 100%;
}

#image1 {
  padding-bottom: 3em;
}

.project__preview, .project__next {
  text-decoration: none;
  color: #f8f8f8;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button_site {
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.preview__next {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}

.project__preview img {
  margin-right: 1.25em;
}

.project__next img {
  margin-left: 1.25em;
}

@media screen and (min-width: 800px) {
  .info__project, .preview__next {
    margin: 3em 5em 0;
  }

  .project__description {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 1.1111111111em;
         column-gap: 1.1111111111em;
    font-size: 0.875em;
    line-height: 1.3em;
    margin-bottom: 5em;
  }

  .preview__next {
    font-size: 1em;
  }

  .big-img__container {
    border: 1px solid #f8f8f8;
    padding: 50px 60px;
  }

  .img-slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 1em;
         column-gap: 1em;
    padding: 5em 5em;
  }

  #image1 {
    padding: 0;
  }

  .img-slider img {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .project__infos, .project__description {
    font-size: 1.125em;
  }

  .info__project, .preview__next {
    margin: 5em 8em 0;
  }

  .big-img__container {
    border: 1px solid #f8f8f8;
    padding: 60px 70px;
  }

  .img-slider {
    padding: 5em 8em;
  }
}
.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

html {
  background-color: #202020;
  color: #F8F8F8;
  font-family: "Lato", sans-serif;
}

body, body * {
  box-sizing: border-box;
}

/*
@media screen and (min-width: 800px) {
  html{
    padding: 3.75em 6.25em 0;
  }
}

@media screen and (min-width: 1280px){
  html {
    padding: 5.5em 9em 0;
  }
}*/
