
p.contact__me {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #F5CA41;
  font-weight: 300;
  margin-bottom: 2.7em;
  text-align: center;
}
.contact_field{
  border-bottom: 2px solid #F5CA41;
  background-color: #1a1a1a;
  padding: 1em;
}
.contact_field:not(:last-of-type){
 margin-bottom: 2em;
}
form input, form textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: none;
}

form label {
  font-size: 1em;
  color: #f8f8f8;
  font-family: "Playfair Display", serif;
}

form input {
  padding: 1em;
  color: #f8f8f8;
  background-color: transparent;
  margin-top: 0.5em;
}

form textarea {
  background-color: transparent;
  padding: 1em;
  color: #f8f8f8;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 9.375em;
  min-height: 6.25em;
  max-height: 18.75em;
  margin-top: 0.5em;

}


form input::placeholder, form textarea::placeholder {
  color: #6E6E6E;
  font-size: 0.8em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

form .button {
  position: relative;
  padding: 1.375em 0;
  width: 100%;
  margin-top: 1.875em;
  background-color: transparent;
  border: 2px solid #F5CA41;
  color: #f8f8f8;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}
