hr {
  border-radius: 2px;
  border: 1px solid #F8F8F8;
  margin: 0;
  background-color: #F8F8F8;
}

hr:last-of-type {
  margin-top: 1.875em;
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.8125em;
  text-transform: uppercase;
  margin-top: 0.4444444444em;
}

.top__menu {
  margin: 2.3076923077em 0;
  font-size: 0.8125em;
}

.menu .menu__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #F8F8F8;
  margin: 0 10px;
}

@media screen and (min-width: 800px) {
  header h1 {
    font-size: 5em;
  }
  .top__menu {
    font-size: 1em;
  }
  hr:last-of-type {
    margin-top: 3.125em;
  }
}

@media screen and (min-width: 1280px) {
  hr {
    border-radius: 2px;
    border: 1px solid #F8F8F8;
    margin: 0;
    background-color: #F8F8F8;
  }

  hr:last-of-type {
    margin-top: 4.375em;
  }

  header {
    text-align: center;
  }

  header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6.875em;
    text-transform: uppercase;
    margin-top: 0.1818181818181818em;
  }

  .top__menu {
    margin: 3.333333333333333em 0;
    font-size: 1.125em
  }

  .menu .menu__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #F8F8F8;
    margin: 0 25px;
  }
}
